.button {
  border: 1px solid transparent;
  border-radius: var(--border-radius-base);
  margin-bottom: var(--distance-m);
  padding: var(--distance-xs) var(--distance-m);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-black);
  text-transform: uppercase;
  background: var(--color-component-bg);
  color: var(--color-primary);
  cursor: pointer;
}