.header {
  margin-bottom: var(--distance-3xl);
  text-align: center;
  background: var(--color-component-bg);

  &__logo {
    padding: var(--distance-xs);
    width: var(--icon-base);

    @media #{$mq-tablet} {
      width: var(--icon-s);
    }
  }
}
