.tile {
  display: flex;
  gap: var(--distance-s);
  flex-direction: column;
  margin: 0 auto var(--distance-m);
  padding: var(--distance-m) 0;
  max-width: 70%;
  border-radius: var(--border-radius-base);
  background: var(--color-component-bg);

  @media #{$mq-tablet} {
    margin: 0;
  }

  &__element {
    margin: 0;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
  }

  &__read {
    background: var(--color-cta-tertiary);

    &:focus {
      outline-color: var(--color-cta-tertiary);
    }

    &--active {
      background: var(--color-cta-primary);

      &:focus {
        outline-color: var(--color-cta-primary);
      }
    }
  }

  &__remove {
    background: var(--color-cta-secondary);

    &:focus {
      outline-color: var(--color-cta-secondary);
    }
  }

  &__button {
    border-radius: 0;
    margin: 0 var(--distance-l);
  }
}
