$mq-tablet: 'screen and (min-width: 768px)';
$mq-desktop: 'screen and (min-width: 1024px)';
$mq-desktop-l: 'screen and (min-width: 1440px)';

:root {
  // <<< Real colors >>>
  //Dark mode
  --mine-shaft: #282222;
  --yellow-green: #abdf75;
  --amazon: #337357;
  --roman: #db5461;
  --brunt-sienna: #eb8258;

  //Light mode
  --white: #ffffff;
  --eastern-blue: #20a39e;
  --moody-blue: #645dd7;
  --shiraz: #bb0a21;
  --burning-orange: #ff773d;

  // <<< Abstract colors >>>
  //Dark mode
  --color-primary: var(--mine-shaft);
  --color-secondary: var(--yellow-green);
  --color-cta-primary: var(--amazon);
  --color-cta-secondary: var(--roman);
  --color-cta-tertiary: var(--brunt-sienna);

  // <<< Use case colors >>>

  // Body
  --color-body-bg: var(--color-primary);
  --color-body-text: var(--color-primary);

  // Component
  --color-component-bg: var(--color-secondary);

  // <<< Fonts >>>
  //Font family
  --font-family-base: Inter, Arial;

  //Font size
  --font-size-base: 16px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 28px;

  //Font weight
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  // <<< Distances >>>
  --distance-xxs: 4px;
  --distance-xs: 8px;
  --distance-s: 16px;
  --distance-m: 20px;
  --distance-l: 24px;
  --distance-xl: 32px;
  --distance-xxl: 36px;
  --distance-3xl: 40px;

  // <<< Line height >>>
  --line-height-base: 1.3;

  // <<< Border radius >>>
  --border-radius-base: 5px;

  // <<< Icon >>>
  --icon-base: 70px;
  --icon-s: 100px;
  --icon-m: 130px;
}

[data-theme='light'] {
  --color-primary: var(--white);
  --color-secondary: var(--eastern-blue);
  --color-cta-primary: var(--moody-blue);
  --color-cta-secondary: var(--shiraz);
  --color-cta-tertiary: var(--burning-orange);
}